h1 {
color: gray;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 20px;

}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10px;
  font-size: 25px;
  font-style: italic;
}

ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  
}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
  line-height: 1.2em;
}

li {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: gray;
font-weight: 600;
padding-top: 5px;
list-style: outside;
}

h3 {
  font-style: italic;
}